---
// Component Imports
import BaseHead from '../../components/BaseHead.astro';
import '../../styles/synth-demo.css';
import Synth from '../../components/synth/Synth';
import BaseHeader from '../../components/BaseHeader.astro';

const title = 'Synth Demo';
const description = 'A demo for the synth project';
const permalink = 'https://kzeillmann.com/';
---
<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
    </head>
    <body>
        <BaseHeader />
        <Synth client:only />
    </body>
</html>
