---
// Component Imports
import '../../styles/synth-demo.css';
import Synth from '../../components/synth/Synth';
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Synth Demo';
const description = 'A demo for the synth project';
const permalink = 'https://kzeillmann.com/';
---
<BaseLayout>
    <Synth client:only />
    <p class="lg:hidden">This demo has been optimized for a desktop experience. If you're viewing it on a mobile device, you might be in for a bad time.
        <p class="lg:hidden">Improvements may (or may not) come along the way.</p> 
        
</BaseLayout>
