---
// Component Imports
import BaseHead from '../../components/BaseHead.astro';
import '../styles/synth-demo.css';
import Synth from '../../components/synth/Synth';
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'Synth Demo';
const description = 'A demo for the synth project';
const permalink = 'https://kzeillmann.com/';
---
<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
    </head>
    <body>
        <Synth client:only />
    </body>
</html>
