---
// Component Imports
import BaseHead from '../../components/BaseHead.astro';
import '../styles/web-api-playground.css';
import WebApiPlayground from '../../components/web-api-playground/WebApiPlayground';
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'Web API Playground';
const description = 'A playground to try different Web APIs';
const permalink = 'https://kzeillmann.com/';
---
<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
    </head>
    <body>
        <WebApiPlayground client:only />
    </body>
</html>