.container {
  margin: 1rem 5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

ul {
  padding-inline-start: 1rem;
}

canvas {
  border: 1px solid black;
}

.pressed {
  color: red;
  font-weight: bold;
  border: 1px solid red;
}

.button {
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 50%;
}
