<header class="flex mb-12 sm:mb-20">
	<article class="mr-10 ">
		<h1>
			<a href="/">
				<span class="hidden sm:block text-3xl">Kevin Zeillmann</span>
				<span class="sm:hidden text-2xl">KZ</span>
			</a>
		</h1>
	</article>
	<nav class="flex">
		<ul class="flex gap-12 text-base">
			<li><a href="/posts">Posts</a></li>
			<li><a href="/demos">Demos</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
